.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.titre{
  background-color: rgb(230, 82, 82);
  color : white;
  width : 500px;
  text-align: center;
  height: 30px;
  font-size: 20px;
  padding: 10px 0 10px 0;
}
.list-container{
  background-color: rgb(179, 235, 212);
  width : 460px;
  display: flex;
  padding: 20px;
  justify-content: center;
}
.ajouter {
  cursor: pointer;
}
.liste{
  background-color: rgb(230, 82, 82);
  color : white;
  width : 440px;
}
input {
  height : 25px;
  
}
.delete-item {
  width : 100%;
  text-align: center;
  cursor: pointer;
}
.lignes {
  font-size: 18px;
  height: 30px;
}
.tableau {
  padding: 10px;
}
.poubelle {
  width : 30px;
}
